<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="BitPadLabs Logo">
        <p class="tagline">Small bytes. Big leaps.</p>
      </div>
      
      <div class="footer-links">
        <div class="link-group">
          <h4>BitPadLabs</h4>
          <ul>
            <li><a href="{{ site.baseurl }}/about">About Us</a></li>
            <li><a href="{{ site.baseurl }}/team">Our Team</a></li>
            <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/roadmap">Roadmap</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h4>Products</h4>
          <ul>
            <li><a href="https://budsyapp.com">budsyapp</a></li>
            <li><a href="https://glowstatus.app">GlowStatus</a></li>
          </ul>
        </div>
        
        <div class="link-group">
          <h4>Legal</h4>
          <ul>
            <li><a href="{{ site.baseurl }}/terms">Terms</a></li>
            <li><a href="{{ site.baseurl }}/privacy">Privacy</a></li>
            <li>DUNS: </li>
            <li>UEI: </li>
            <li>CAGE: </li>
          </ul>
        </div>
      </div>
      
      <div class="footer-team">
        <h4>NAICS Codes</h4>
        <div class="team-members">
          {% for code in site.data.naics %}
          <div class="team-member">
              {{ code.naics }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ site.time | date: '%Y' }} BitPadLabs, LLC. A MS/GA Limited Liability Company. All rights reserved.</p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
  </div>
</footer>